.dd-passForm{
    padding: 2%;
    width: 100%;
    border: 2px solid red;
    z-index: 100;
    background-color: white;
}

.flexBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}

.marg-1 {
    margin-bottom: 1%;
    margin-left: 1.5%;
}