<div class="col-sm-8 col-sm-offset-2">
    <h1>Mon Profil</h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>Pseudo :</strong> {{ user.pseudo }}</li>
        <li class="list-group-item"><strong>Prénom :</strong> {{ user.firstName }}</li>
        <li class="list-group-item"><strong>Nom :</strong> {{ user.lastName }}</li>
    </ul>

    <p>Pour des raisons de sécurités nous vous conseillons de changer votre mot de passe régulièrement !!<br/>
    Vous pouvez le changer en cliquant sur le bouton ci-dessous :</p>

    <div ngbDropdown placement="bottom-left" #passDrop="ngbDropdown" class="d-block">
        <button class="btn btn-warning" id="dropdownPassForm" ngbDropdownToggle>Changer mon Mot-de-passe</button>
        <div ngbDropdownMenu aria-labelledby="dropdownPassForm" class="list-group dd-passForm">
            <form [formGroup]="passForm" (ngSubmit)="onChangePass()" class="form-group">
                <p class="text-danger">Tous les champs du formulaire sont obligatoires !!</p>
                <label for="currentPass">Votre Mot-de-passe actuel : </label>
                <input type="password" name="currentPass" class="form-control" id="currentPass"
                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,20})$" formControlName="pass">
                <label for="newPass1">Votre nouveau Mot-de-passe : </label>
                <input type="password" name="newPass1" class="form-control" id="newPass1"
                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,20})$" formControlName="newPass1">
                <small>Votre mot-de-passe doit avoir entre 8 et 20 caractères, contenir au minimum une majuscule, une minuscule, un chiffre et un caractères spécial.</small>
                <label for="newPass2">Confirmez votre nouveau Mot-de-passe : </label>
                <input type="password" name="newPass2" class="form-control" id="newPass2"
                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,20})$" formControlName="newPass2">
                <div class="btn-group flexBlock">
                    <button class="btn btn-success" type="submit" [disabled]="passForm.invalid">Valider</button>
                    <button class="btn btn-danger" type="button" (click)="passForm.reset();passDrop.close()">Annuler</button>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <button type="button" class="btn btn-danger marg-1" *ngIf="user.isAuth" (click)="onAskForDelete()">Supprimer mon compte</button>
        <form class="formgroup" *ngIf="unsubscribe" [formGroup]='unsubscribeForm'>
            <p class="form-text">Etes-vous sur de vouloir supprimer votre compte ?</p>
            <label for="unsubscribePseudo" class="sr-only">Entrez votre pseudo pour la suppression du compte.</label>
            <input type="text" placeholder="Entrez votre pseudo" id="unsubscribePseudo" 
                formControlName='unsubscribePseudo' required>
            <button class="btn btn-danger" [disabled]="unsubscribeForm.invalid" (click)="onDeleteAccount()">SUPPRIMER LE PROFIL !</button>
        </form>
    </div>
</div>
