<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-text h4" style="color: white;margin-right: 10%;font-weight: bold;">GROUPOMANIA</div>
      <a routerLinkActive="active" routerLink="/" class="navbar-brand">HOME</a>
      <a routerLinkActive="active" routerLink ="/profil" class="navbar-brand" *ngIf="user.isAuth">MON PROFIL</a>
      <div class="navbar-right">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-lg btn-primary navbar-btn" id="dropdownForm1" ngbDropdownToggle>{{ user.pseudo }}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="list-group" style="background-color: black;width: 20rem;">
            <form class="px-10" [formGroup]='userForm' (ngSubmit)='onLogin()' *ngIf="!user.isAuth">
              <label for="pseudoLogin" class="sr-only">Pseudo</label>
              <input type="text" class="form-control" id="pseudoLogin" placeholder="Pseudo" formControlName='pseudoLogin'>
              <label for="passwordLogin" class="sr-only">Password</label>
              <input type="password" class="form-control" id="passwordLogin" placeholder="Password" formControlName='passwordLogin'>
              <button type="submit" class="btn btn-success" style="width: 100%;" *ngIf="!user.isAuth" [disabled]="userForm.invalid">Connection</button>
            </form>
            <button type="button" class="btn btn-primary" style="width: 100%;" *ngIf="user.isAuth" (click)="onQuit()">Déconnection</button>
            <a routerLink="/signup" class="btn btn-primary" style="width: 100%;" ngbDropdownItem *ngIf="!user.isAuth">Inscription</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>