<div class="container">
  <div class="row" *ngIf="!user.isAuth">
    <h1 style="text-align: center;">Hello! Connectez-vous SVP !</h1>
  </div>

  <div class="row" *ngIf="user.isAuth">

    <div class="col col-sm-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          Bienvenu dans le forum de groupomania
        </div>
        <div class="panel-body">
          <div *ngIf="filter === 'Pas de filtre actif'">
            <p>Pour retrouver des posts plus rapidement, vous pouvez utiliser nos filtres.</p>
            <p><strong>Filtrez vos posts :</strong></p>
            <button class="btn btn-xs btn-primary" type="button" (click)="onFilterMine()">Mes Posts</button>
            <p>ou ceux d'un utilisateur précis : </p>
            <form class="form-group" [formGroup]="filterForm" (ngSubmit)="onFilterByPseudo();filterForm.reset()">
              <label for="filterPseudo">Entrez le pseudo d'un utilisateur :</label>
              <input type="text" id="filterPseudo" name="filterPseudo" formControlName="filterPseudo" style="width: 100%;">
              <button class="btn btn-xs btn-primary" type="submit" [disabled]="filterForm.invalid" >Filter</button>
            </form>
          </div>
          <button class="btn btn-xs btn-danger" type="button" (click)="onStopFilter()" *ngIf="filter !== 'Pas de filtre actif'">Retirer les filtres</button>
        </div>
        <div class="card-footer text-muted">
          {{ filter }}
        </div>
      </div>
    </div>

    <div class="col col-sm-8 list-group" style="padding: 0%;">
      <div ngbDropdown #postDrop="ngbDropdown" class="d-inline-block" *ngIf="user.isAuth">
        <button class="btn btn-primary btn-lg" id="dropdownForm1" ngbDropdownToggle>Ecrire qelque-chose</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="list-group" style="background-color: black;width: 100%;">
          <form  class="form-group" [formGroup]='postForm' (ngSubmit)='onPost(); postForm.reset()'>
            <label for="post" class="sr-only">Ecivez votre message</label>
            <textarea name="post" id="post" col="70" rows="3" minlength="4" class="list-group-item" style="margin: auto;width: 100%;" 
                      placeholder="Ecivez votre message" formControlName='postTweet'></textarea>
            <button class="btn btn-success" type="submit" style="margin: auto;" (click)="postDrop.close()" [disabled]="postForm.invalid">Poster</button>
          </form>
        </div>
      </div>

      <div class="list-group" *ngFor='let tweet of tweets;let i = index'>
        <h3 class="list-group-item  list-group-item-info" style="margin: 1% 0 0 0;">{{ tweet.user.pseudo }}</h3>
        <div class="list-group-item">
          <p *ngIf="!editMode">{{ tweet.content }}</p>
          <div *ngIf="editMode && user.id === tweets[i].user.id">
            <form class="form-group" [formGroup]='changeForm' (ngSubmit)='onChangeTweet(i)'>
              <label for="change{{i}}" class="sr-only">Modifier votre message</label>
              <textarea name="change" id='change{{i}}' col="70" rows="3" minlength="4" maxlength="300" class="form-control" 
                        style="margin: auto;width: 100%;" placeholder="{{ tweet.content }}" formControlName='changeTweet'>TEXT</textarea>
            <button class="btn btn-success btn-sm" type="submit" [disabled]="changeForm.invalid">Poster</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="onExitEditMode()">Annuler</button>
            </form>
          </div>
          <small>Posté le : {{ tweet.date | date: 'dd/MM/yy  HH:mm'}}</small>
        </div>
        <div class="list-group-item">
          <div class="btn-group" role="group" aria-label="button-list" style="display: flex;justify-content: space-between;padding: 0%;">
            <button type="button" class="btn btn-sm" *ngIf="user.id === tweets[i].user.id" (click)="onEditMode(i)">Modifer</button>
            <button type="button" class="btn btn-sm" *ngIf="user.id === tweets[i].user.id || user.role === 'Moderateur'" (click)="onDeleteTweet(i)">Supprimer</button>
          </div>
        </div>
      </div>
    </div> 

  </div>
</div>