<div class="container">
  <div class="row" *ngIf="!user.isAuth">
    <h1 style="text-align: center;">Hello! Connectez-vous SVP !</h1>
  </div>

  <div class="row" *ngIf="user.isAuth">

    <div class="col col-sm-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          Filtrer le contenu
        </div>
        <div class="panel-body">
          <div *ngIf="filter === 'Pas de filtre actif'" class="flexBlockV">
            <p>Pour retrouver des posts plus rapidement, vous pouvez utiliser nos filtres.</p>
            <p><strong>Filtrez vos posts :</strong></p>
            <button class="btn btn-xs btn-primary" type="button" (click)="onFilterMine()">Mes Posts</button>
            <form class="form-group flexBlockV margTop" [formGroup]="filterForm" (ngSubmit)="onFilterByPseudo();filterForm.reset()">
              <label for="filterPseudo">Entrez le pseudo d'un utilisateur :</label>
              <input type="text" id="filterPseudo" name="filterPseudo" formControlName="filterPseudo" class="form-control fullWidth"
                    aria-required="true">
              <button class="btn btn-xs btn-primary" type="submit" [disabled]="filterForm.invalid" >Filter</button>
            </form>
          </div>
          <button class="btn btn-xs btn-danger" type="button" (click)="onStopFilter()" *ngIf="filter !== 'Pas de filtre actif'">Retirer les filtres</button>
        </div>
        <div class="card-footer">
          {{ filter }}
        </div>
      </div>
    </div>

    <div class="col col-sm-8 list-group nopadd">
      <div ngbDropdown #postDrop="ngbDropdown" placement="bottom-left" class="d-inline-block" *ngIf="user.isAuth">
        <button class="btn btn-primary btn-lg" id="dropdownForm2" ngbDropdownToggle>Ecrire qelque-chose</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm2" class="list-group bgc-blk fullWidth">
          <form  class="form-group" [formGroup]='postForm' (ngSubmit)='onPost(); postForm.reset()'>
            <label for="post" class="sr-only">Ecivez votre message</label>
            <textarea name="post" id="post" col="70" rows="3" minlength="4" maxlength="250" class="list-group-item margAuto fullWidth" 
                      placeholder="Ecivez votre message" formControlName='postTweet' aria-required="true"></textarea>
            <button class="btn btn-success margAuto" type="submit" (click)="postDrop.close()" [disabled]="postForm.invalid">Poster</button>
          </form>
        </div>
      </div>

      <div class="list-group " *ngFor='let tweet of tweets;let i = index'>
        <h3 class="list-group-item thumb-title margTop">{{ tweet.user.pseudo }}</h3>
        <div class="list-group-item thumbnail">
          <p *ngIf="!editMode" [ngClass]="{'text-danger': tweets[i].content === 'Le contenu de ce message à été supprimé par le modérateur du site pour non-respect des C.G.U .'}">
            {{ tweet.content }}
          </p>
          <div *ngIf="editMode && user.id === tweets[i].user.id">
            <form class="form-group" [formGroup]='changeForm' (ngSubmit)='onChangeTweet(i)'>
              <label for="change{{i}}" class="sr-only">Modifier votre message</label>
              <textarea name="change" id='change{{i}}' col="70" rows="3" minlength="4" maxlength="250" class="form-control margAuto fullWidth" 
                      placeholder="{{ tweet.content }}" formControlName='changeTweet'>TEXT</textarea>
            <button class="btn btn-success btn-sm" type="submit" [disabled]="changeForm.invalid">Poster</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="onExitEditMode()">Annuler</button>
            </form>
          </div>
          <small>Posté le : {{ tweet.date | date: 'dd/MM/yy  HH:mm'}}</small>
        </div>
        <div class="list-group-item thumbnail">
          <div class="btn-group nopadd" role="group" aria-label="button-list" style="display: flex;justify-content: space-between;">
            <button type="button" class="btn btn-sm btn-outline" *ngIf="user.id === tweets[i].user.id && tweets[i].content !== 'Le contenu de ce message à été supprimé par le modérateur du site pour non-respect des C.G.U .'" 
            (click)="onEditMode(i)">Modifier</button>
            <button type="button" class="btn btn-sm btn-outline" *ngIf="user.role === 'Moderateur' && tweets[i].user.role !== 'Moderateur'" 
                  (click)="onKillTweet(i)">Modérer</button>
            <button type="button" class="btn btn-sm btn-trash" *ngIf="user.id === tweets[i].user.id" (click)="onDeleteTweet(i)" aria-label="supprimer le message"><i class="fas fa-trash-alt"></i></button>
          </div>
        </div>
      </div>
    </div> 

  </div>
</div>